{% extends "main.html" %}

{% load static %}

{% block contenido %}
    <!-- Section-->
    <div class="container py-5 text-center">
        <h1 class="display-2"><strong>Cargar clientes</strong></h1>
    </div>
    <div class="container" style="margin-bottom: 5rem;">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <form method="POST" action="{% url 'cargar_clientes' %}">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="nombre" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="name" name="name" required>
                    </div>
                    <div class="mb-3">
                        <label for="color" class="form-label">Apellido</label>
                        <input type="text" class="form-control" id="adress" name="adress" required>
                    </div>
                    <div class="mb-3">
                        <label for="condicion" class="form-label">Condicion</label>
                        <select class="form-select" id="conditions" name="condition" required>
                            {% for key, value in condiciones %}
                                <option value="{{ key }}">{{ value }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="color" class="form-label">Localidad</label>
                        <input type="text" class="form-control" id="location" name="location" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </form>
                
            </div>
        </div>
    </div>
  


{% endblock %}